@model IEnumerable<MusicAppLints.Models.MusicAlbum>
@{
    ViewBag.Title = "Index";
}

@using PagedList;
@using PagedList.Mvc;

    @{ 
        ViewBag.Title = "Index";

        //
        // cast the model as a PagedList to access pagination properties
        //
        var pagedList = (IPagedList)Model;
    }

Page @(pagedList.PageCount < pagedList.PageNumber? 0 : pagedList.PageNumber) of @pagedList.PageCount

@Html.PagedListPager(pagedList, Page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

[HttpGet]
public ActionResult Index(string sortOrder, int? page)
{
    //
    // set parameters and paginate the breweries list
    //
int pagrSize = 5;
int pageNumber = (page ?? 1);
musicAlbums = musicAlbums.ToPagedList(pageNumber, pageSize);

return View(musicAlbums);
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>@*displays Header*@
            @Html.ActionLink(Html.DisplayNameFor(model => model.Genre).ToHtmlString(), "ListAllSuperHeros", new { sortOrder = "genre"})
        </th>

        <th>
            @*displays Header*@
        @Html.ActionLink(Html.DisplayNameFor(model => model.AlbumName).ToHtmlString(), "ListAllSuperHeros", new { sortOrder = "albumName" })
    </th>

        <th>
            @*displays Header*@
        @Html.ActionLink(Html.DisplayNameFor(model => model.Song).ToHtmlString(), "ListAllSuperHeros", new { sortOrder = "song" })
    </th>

        <th>
            @*displays Header*@
            @Html.ActionLink(Html.DisplayNameFor(model => model.Artist).ToHtmlString(), "ListAllSuperHeros", new { sortOrder = "artist" })
        </th>
        <th>Manage Data</th>
</tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@*Displays Data*@
                @Html.DisplayFor(modelItem => item.Genre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AlbumName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Song)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id}) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 
            </td>
        </tr>
    }

</table>
